<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./app.css">
	<script src="./app.js"></script>
	<script src="./vue.js"></script>
</head>
<body>
	<header>任务计划列表</header>
	<div class="content" id="todo-list-example">
		<h3>添加任务:</h3>
		<input class="text-input" type="text" placeholder="例如：吃饭睡觉打豆豆" v-model="newTodoText" v-on:keyup.enter="addNewTodo">
		<ul class="list">
			<li>{{ Number }}个任务未完成</li>
			<li class="action">
				<a href="#all">所有任务</a>
				<a href="#unfinished">未完成的任务</a>
				<a href="#finished">完成的任务</a>
			</li>
		</ul>
		<h3>任务列表:</h3>
		<div class="text">
			<span class="text-span">还没有添加任何任务</span>
			<ul>
				<li is="todo-item" v-for="(todo, index) in todos" v-bind:title="todo" v-on:remove="todos.splice(index, 1)">
				<!-- <todo-item v-on:Checkbox="onCheckbox"></todo-item> -->
				</li>
			</ul>
		</div>
	</div>
</body>
</html>